<body class="signup-body">
  <div class='signup-box col-11 col-lg-6'>
    <div class='login-text text-center '>
      <h2>Sign Up For Free</h2>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <div class="d-flex">
          <div class="mr-2">
            <%= f.input :first_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "first-name" },
                        hint: 'If this is a business account please fill this field with a -',
                        label: 'First name'
                        %>

          </div>
          <div class="ml-2">
            <%= f.input :last_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "last-name" },
                        label: 'Last name',
                        hint: 'If this is a business account please fill this field with the Companies name'
                        %>

          </div>
        </div>

        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :phone,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "phone" }%>
        <%= f.input :address,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "address" },
                    label: "address and house number "
                    %>


        <div class="d-flex">
          <div class="mr-2">
            <%= f.input :city,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "city" }%>
          </div>
          <div class="mr-2">
            <%= f.input :zip,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "zip" } %>
          </div>
          <div >
            <%= f.input :country,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "country" } %>
          </div>
        </div>

        <%= f.check_box :terms_accepted,
                        required: true%>
        <%= label_tag("I accept all terms and conditions by checking this box ") %>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" },
                    label: "Confirm password"
                    %>

      </div>


      <div class="form-actions-btn text-center mb-1">
        <%= f.button :submit, "sign up", class: "login-button" %>
      </div>
    <% end %>
  </div>

  <div class="login-links text-center col-6 col-lg-3">
    <div class="mt-3">
      <%= link_to "Login", "/users/sign_in", class: "login-link" %>
    </div>
    <div class="mt-2 mb-3">
      <%= link_to "Forgot Password?", "/users/password/new", class: "login-link" %>
    </div>
  </div>
</body>
