<body class="listings-index-body">
    <div class="container-index-listing">

      <div id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

      <div class="right-container-index">
        <div class='header'>
          <div class="search-bar mx-auto">
            <%= form_tag listings_path, class: "form-search d-flex col-8 mx-auto", method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Find a Screen"
              %>
              <%= submit_tag "Search", class: "btn btn-dark" %>
            <% end %>
          </div>
        </div>

        <div class="container">
          <div class='cards-home'>
            <div class="row">
              <% @listings.each do |listing| %>
                <div class="col">
                  <%= link_to listing_path(listing) do %>
                    <div class='card-index'>
                      <div class="index-listing-outerimg-container">
                        <div class="index-listing-img-container">
                          <div class="img-box1-index-listing"><%=  cl_image_tag listing.photo1.key, crop: :fill%></div>
                          <% if listing.photo2.present? %>
                            <div class="img-box2-index-listing"><%=  cl_image_tag listing.photo2.key, crop: :fill%></div>
                          <% end %>
                          <% if listing.photo3.present? %>
                            <div class="img-box3-index-listing"><%=  cl_image_tag listing.photo3.key, crop: :fill%></div>
                          <% end %>
                          <% if listing.photo4.present? %>
                            <div class="img-box4-index-listing"><%=  cl_image_tag listing.photo4.key, crop: :fill%></div>
                          <% end %>
                          <% if listing.photo5.present? %>
                            <div class="img-box5-index-listing"><%=  cl_image_tag listing.photo5.key, crop: :fill%></div>
                          <% end %>
                        </div>
                      </div>
                      <div class='card-index-content'>

                        <div class="text-center p-1">
                          <h4><%= listing.name %></h4>
                        </div>


                        <div class="">
                          <h6><i class="fa-solid fa-align-left"></i> <%= listing.description.first(100)%> ...</h6>
                          <h6><i class="fas fa-thumbtack"></i> <%= listing.location %></h4>
                          <h6><i class="fas fa-tags"></i> <%= listing.price %> ￡/day</h4>
                        </div>

                      </div>

                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="pagination-nav-container">
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
      </div>
    </div>
</body>
