<div class='show-container'>
  <div class="images-show-multi text-center">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <% if @listing.photo2.present? %>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <% end %>
        <% if @listing.photo3.present? %>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <% end %>
        <% if @listing.photo4.present? %>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <% end %>
        <% if @listing.photo5.present? %>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <% end %>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%=cl_image_tag @listing.photo1.key, crop: :fill, class:"d-block"%>
        </div>
        <% if @listing.photo2.present? %>
          <div class="carousel-item">
            <%=cl_image_tag @listing.photo2.key, crop: :fill, class:"d-block"%>
          </div>
        <% end %>
        <% if @listing.photo3.present? %>
          <div class="carousel-item">
            <%=cl_image_tag @listing.photo3.key, crop: :fill, class:"d-block"%>
          </div>
        <% end %>
        <% if @listing.photo4.present? %>
          <div class="carousel-item">
            <%=cl_image_tag @listing.photo4.key, crop: :fill, class:"d-block"%>
          </div>
        <% end %>
        <% if @listing.photo5.present? %>
          <div class="carousel-item">
            <%=cl_image_tag @listing.photo5.key, crop: :fill, class:"d-block"%>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class='info-text p-2'>

    <div class="text-center">
      <h1><strong><%= @listing.name %></strong></h1>
      <p><%= @listing.description %></p>
    </div>
    <p><i class="fas fa-thumbtack"></i><strong> Location: </strong><%= @listing.location %></p>
    <p><i class="fas fa-tags"></i><strong> Price: </strong><%= @listing.price %>￡/day</p>
    <%# <h6><strong>Bookings:</strong></h6> %>
    <%# <button class="button-28" role="button">Button 28</button> %>
    <%= link_to "Book this screen", new_listing_booking_path(@listing), class:'button-28 m-1', role:'button'%>
    <%= link_to "Back", listings_path, class:"button-28 m-1", role:"button" %>
    <% if current_user == @listing.user %>
    <%= link_to 'Edit', edit_listing_path(@listing), class:"button-28 m-1" %>
    <%= link_to "Delete", listing_path(@listing), class:"button-28 m-1", method: :delete, data: {confirm: "Are you sure?"}  %>
    <% end %>
  </div>
</div>
