<div class='show-container'>
  <%=cl_image_tag @listing.photo.key, crop: :fill%>
  <div class='info-text mx-4 p-2'>

    <div class="text-center">
      <h1><strong><%= @listing.name %></strong></h1>
      <p><%= @listing.description %></p>
    </div>
    <p><i class="fas fa-thumbtack"></i><strong> Location: </strong><%= @listing.location %></p>
    <p><i class="fas fa-tags"></i><strong> Price: </strong><%= @listing.price %>€</p>
    <p><i class="fas fa-calendar-alt"></i><strong> Availability: </strong><%= @listing.availability %></p>

    <%# <h6><strong>Bookings:</strong></h6> %>
    <ul>
      <% @listing.bookings.each do |booking| %>
        <li><h6> <%= booking.start_date %> - <%= booking.end_date %></h6></li>
      <% end %>
    </ul>
    <%# <button class="button-28" role="button">Button 28</button> %>
    <%= link_to "Book this screen", new_listing_booking_path(@listing), class:'button-28 m-1', role:'button'%>
    <%= link_to "Back", listings_path, class:"button-28 m-1", role:"button" %>
    <% if current_user == @listing.user %>
    <%= link_to 'Edit', edit_listing_path(@listing), class:"button-28 m-1" %>
    <%= link_to "Delete", listing_path(@listing), class:"button-28 m-1", method: :delete, data: {confirm: "Are you sure?"}  %>
    <% end %>
  </div>
</div>
