
<body class="body-new-listings">
  <div class=" new-listings row justify-content-center my-3">
      <div class="new-listing-container">
        <%= simple_form_for(@partner) do |f| %>
          <%= f.input :street_name_and_number, :input_html => { :class => 'partner-input' } %>
          <%= f.input :postal_code, :input_html => { :class => 'partner-input' } %>
          <%= f.input :city, :input_html => { :class => 'partner-input' } %>
          <%= f.input :country, :input_html => { :class => 'partner-input' } %>
          Photo:
          <%= f.input :photo1, as: :file, label: false, wrapper_html: { class: "text-center" }, input_html: { class: "d-inline" } %>
          <%= f.input :photo2, as: :file, label: false, wrapper_html: { class: "text-center" }, input_html: { class: "d-inline" } %>
          <%= f.input :photo3, as: :file, label: false, wrapper_html: { class: "text-center" }, input_html: { class: "d-inline" } %>
          <%= f.input :message, :input_html => { :class => 'partner-input' } %>
          <%= f.submit "Submit", class: "btn btn-nav w-100 mr-sm-4" %>
        <% end %>
      </div>
  </div>
</body>
