

<% if current_user.owner == false %>
  <div class="headers">
    <h1 class="header-index-booking"><strong>My bookings</strong></h1>
  </div>
  <% if @bookings.any? %>
    <div class="container">
      <div class='cards-booking-client'>
        <div class="row">
          <% @bookings.each do |booking| %>
            <div class="col">
              <div class="card-booking-client">
                <h5 class="card-booking-title"><%= booking.user.first_name %></p></h5>
                <p class="card-booking-text">Starts on <%= booking.start_date %></p>
                <p class="card-booking-text">Until <%= booking.end_date %></p>
                <% if booking.status == "accepted" %>
                  <span class="badge badge-success"><%= booking.status %></span>
                <% else %>
                  <span class="badge badge-secondary"><%= booking.status %></span>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <h4 class="header-index-booking">You haven't booked any screens yet!</h4>
  <% end %>

<% end %>



<% if current_user.owner == true %>

  <div class="headers">
    <h1 class="header-index-booking"><strong>booking requests</strong></h1>
  </div>

  <div class="container">
    <div class='cards-booking'>
      <div class="row">
        <% if @my_bookings %>
          <% @my_bookings.each do |request| %>
            <div class="col">
              <div class="card-booking" id="booking-<%= request.id %>">
                <h5 class="card-booking-title text-center"><%= request.listing.name %></p></h5>
                <p class="card-booking-title">Location: <%= request.listing.location %></p>
                <p class="card-booking-text">Starting Date: <%= request.start_date %></p>
                <p class="card-booking-text">Ending Date: <%= request.end_date %></p>
                <p class="card-booking-text">Booked by: <%= request.user.first_name + " " + request.user.last_name %></p>
                <p class="card-booking-text">Clients Adress: <%= request.user.address%></p>
                <p class="card-booking-text">Status: <%= request.status %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>
