

<% if current_user.owner == false %>
  <% if @bookings.any? %>
  <div class="headers">
    <h1 class="header-index-booking light-blue"><strong>My Bookings</strong></h1>
  </div>
    <div class="container">
      <div class='cards-booking-client'>
        <div class="row">
          <% @bookings.each do |booking| %>
            <div class="col">
              <div class="card-booking-client">
                <h5 class="card-booking-title"><%= booking.user.first_name %> <%= booking.user.last_name %></p></h5>
                <p class="card-booking-text">Starts on: <%= booking.start_date %></p>
                <p class="card-booking-text">Ends on: <%= booking.end_date %></p>
                <% if booking.campagne == true %>
                  <p class="light-blue">You have requested to get a Advertsing Campagne made by <span class="light-blue">Vendo Advertisements</span></p>
                <% end %>
                <% if booking.status == "accepted" %>
                  <div class="text-center">
                    <span class="badge badge-success mb-3"><%= booking.status %></span>
                    <%= button_to "Pay Now", checkout_create_path, params: {listing_id: booking.listing.id, id: booking.id}, remote: true, class:"pay-btn" %>
                  </div>
                <% else %>
                  <span class="badge badge-secondary"><%= booking.status %></span>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
  <div class="headers">
    <h1 class="light-blue mt-5" style="margin-left: 165px"><strong>My Bookings</strong></h1>
  </div>
    <h4 class="mt-5 mb-5" style="margin-left: 165px">You haven't booked any screens yet! Here is how it works step by step</h4>

    <div class="question-container">

      <div class="instruction-1-home-booking">
        <div class="col-md-7" >
          <h1 class="light-blue"><strong>1.</strong></h1>
          <h3>Choose one or many screen of your liking at your preferred location <%= link_to "here", listings_path, class:"btn-home-here", role:"button" %></h3>
        </div>
      </div>

      <div class="instruction-2-home-booking">
        <div class="col-md-7">
          <h1 class="light-blue"><strong>2.</strong></h1>
          <h3>Decide from when to when your want your ads to run. You can later extend the duration by simply writing us an email</h3>
        </div>
      </div>

    </div>

    <div class="question-container">

      <div class="instruction-1-home-booking">
        <div class="col-md-7" >
          <h1 class="light-blue"><strong>3.</strong></h1>
          <h3>Upload your advertisement video or picture with 2 clicks where indicated and finish your booking request. Now you have to wait for our approval (aprox. 6h)</h3>
        </div>
      </div>

      <div class="instruction-2-home-booking mb-5">
        <div class="col-md-7">
          <h1 class="light-blue"><strong>4.</strong></h1>
          <h3>When approved simply pay through pushing the button that will appear under your request <%= link_to "here", bookings_path, class:"btn-home-here", role:"button" %> and see your advertisements up and running in a given location</h3>
        </div>
      </div>

    </div>
  <% end %>

<% end %>



<% if current_user.owner == true %>

  <div class="headers">
    <h1 class="header-index-booking"><strong>Booking Requests</strong></h1>
  </div>

  <div class="container">
    <div class='cards-booking'>
      <div class="row">
        <% if @my_bookings %>
          <% @my_bookings.each do |request| %>
            <div class="col ">
              <div class="card-booking" id="booking-<%= request.id %>">
                <h5 class="card-booking-title text-center"> <%= request.listing.name %></p></h5>
                <% if request.photo.present? %>
                  <%=  cl_image_tag request.photo.key, crop: :fill, style:'width:100%; height:300px' %>
                <% end %>
                <% if request.video.present? %>
                  <%= video_tag(url_for(request.video), crop: :fill, style:'width:100%; height:300px', controls: '' ) %>
                <% end %>
                <p class="card-booking-title"><strong>Location: </strong> <%= request.listing.location %></p>
                <p class="card-booking-text"><strong>Starting Date: </strong><%= request.start_date %></p>
                <p class="card-booking-text"><strong>Ending Date: </strong><%= request.end_date %></p>
                <p class="card-booking-text"><strong>Booked by: </strong><%= request.user.first_name + " " + request.user.last_name %></p>
                <p class="card-booking-text"><strong>Email: </strong><%= request.user.email %></p>
                <p class="card-booking-text"><strong>Phone: </strong><%= request.user.phone %></p>
                <p class="card-booking-text"><strong>Clients Adress: </strong><%= request.user.address%></p>
                <p class="card-booking-text mb-3"><strong>Status: </strong><%= request.status %></p>
                <% if request.campagne == true %>
                  <p class="alert-color">This Customer needs an advertsing campagne!</p>
                <% end %>
                <div class="text-center">
                  <%= link_to "Accept", accept_path(booking_id: request.id), method: :patch, class:"btn btn-accept", data: {confirm: "Are you sure you want to accept?"} %>
                  <%= link_to "Reject", reject_path(booking_id: request.id), method: :patch, class:"btn btn-reject", data: {confirm: "Are you sure you want to reject?"}%>
                  <%= link_to "Delete", booking_path(request), class:"button-28 m-1", method: :delete, data: {confirm: "Are you sure?"}  %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <h1>There are no bookings yet</h1>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
