

<% if current_user.owner == false %>
  <div class="headers">
    <h1 class="header-index-booking"><strong>My bookings</strong></h1>
  </div>
  <% if @bookings.any? %>
    <div class="container">
      <div class='cards-booking-client'>
        <div class="row">
          <% @bookings.each do |booking| %>
            <div class="col">
              <div class="card-booking-client">
                <h5 class="card-booking-title"><%= booking.user.first_name %></p></h5>
                <p class="card-booking-text">Starts on: <%= booking.start_date %></p>
                <p class="card-booking-text">Ends on: <%= booking.end_date %></p>
                <% if booking.status == "accepted" %>
                  <span class="badge badge-success"><%= booking.status %></span>
                  <%= button_to "Pay Now", checkout_create_path, params: {listing_id: booking.listing.id, id: booking.id}, remote: true %>
                <% else %>
                  <span class="badge badge-secondary"><%= booking.status %></span>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <h4 class="header-index-booking">You haven't booked any screens yet!</h4>
  <% end %>

<% end %>



<% if current_user.owner == true %>

  <div class="headers">
    <h1 class="header-index-booking"><strong>Booking Requests</strong></h1>
  </div>

  <div class="container">
    <div class='cards-booking'>
      <div class="row">
        <% if @my_bookings %>
          <% @my_bookings.each do |request| %>
            <div class="col ">
              <div class="card-booking" id="booking-<%= request.id %>">
                <h5 class="card-booking-title text-center"> <%= request.listing.name %></p></h5>
                <p class="card-booking-title"><strong>Location: </strong> <%= request.listing.location %></p>
                <p class="card-booking-text"><strong>Starting Date: </strong><%= request.start_date %></p>
                <p class="card-booking-text"><strong>Ending Date: </strong><%= request.end_date %></p>
                <p class="card-booking-text"><strong>Booked by: </strong><%= request.user.first_name + " " + request.user.last_name %></p>
                <p class="card-booking-text"><strong>Email: </strong><%= request.user.email %></p>
                <p class="card-booking-text"><strong>Phone: </strong><%= request.user.phone %></p>
                <p class="card-booking-text"><strong>Clients Adress: </strong><%= request.user.address%></p>
                <p class="card-booking-text mb-3"><strong>Status: </strong><%= request.status %></p>
                <div class="text-center">
                  <%= link_to "Accept", accept_path(booking_id: request.id), method: :patch, class:"btn btn-accept", data: {confirm: "Are you sure you want to accept?"} %>
                  <%= link_to "Reject", reject_path(booking_id: request.id), method: :patch, class:"btn btn-reject", data: {confirm: "Are you sure you want to reject?"}%>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <h1>There are no bookings yet</h1>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
