<div class="footer">

  <div class="footer-box-1">
    <div class="footer-logo">
      <%= image_tag "vendo-logo.png"%>
    </div>
    <div class="footer-info">
      <p> Bewdley DY12 1LN </p>
      <p>  vendoadvertisements@gmail.com </p>
      <p>  07904797117 </p>
    </div>

    <div class="footer-links">
      <ul>
        <li>
          <%= link_to "About Us", "/about-us", class: "foot-link" %>
        </li>
        <li>
          <%= link_to "Work", "/work", class: "foot-link" %>
        </li>
        <li>
          <%= link_to "Terms", "/faq", class: "foot-link" %>
        </li>
        <li>
          <%= link_to "Contact us", "/contact", class: "foot-link" %>
        </li>
      </ul>
    </div>
  </div>


  <div class="footer-socialmedia">
    <a href="https://www.instagram.com/vendoadvertisements/" target="_blank"> <i class="fab fa-instagram fa-bouncep"></i></a>
    <a href="https://www.linkedin.com/company/vendo-advertisements-limited" target="_blank"><i class="fab fa-linkedin fa-bounce"></i></a>
    <a href="https://www.tiktok.com/@vendoadvertisements" target="_blank"><i class="fab fa-tiktok fa-bounce"></i></a>
  </div>
</div>
