<div class="navbar navbar-expand-lg navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "vendo-logo.png"%>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <div class="drop-down">
      <%= image_tag "drop-down.png"%>
    </div>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="flex-box-nav">
        <% if user_signed_in? %>

          <% if current_user.owner == true %>
              <li>
                <h5 class="h5-navbar"><%= link_to "HOME", "/", class: "nav-link" %></h5>
              </li>
              <li>
                <h5 class="h5-navbar"><%= link_to "ADD SCREEN", "/listings/new", class: "nav-link" %> </h5>
              </li>
              <li>
                <h5 class="h5-navbar"><%= link_to "SCREENS", "/listings", class: "nav-link" %></h5>
              </li>
              <li>
                <h5 class="h5-navbar"><%= link_to "BOOKINGS", "/bookings", class: "nav-link" %></h5>
              </li>
              <li>
                <h5 class="h5-navbar"><%= link_to "GET IN TOUCH", "mailto:vendoadvertisements@gmail.com?subject=Getting in Touch", class: "nav-link" %></h5>
              </li>

              <li>
                <h5 class="h5-navbar"><%= link_to "PARTNER REQUESTS", "/partners", class: "nav-link" %></h5>
              </li>

              <li>
                <h5 class="h5-navbar"><%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: "nav-link"%></h5>
              </li>
          <% elsif %>

            <li>
              <h5 class="h5-navbar"><%= link_to "HOME", "/", class: "nav-link" %></h5>
            </li>

            <li>
              <h5 class="h5-navbar"><%= link_to "SCREENS", "/listings", class: "nav-link" %></h5>
            </li>
            <li>
              <h5 class="h5-navbar"><%= link_to "MY BOOKINGS", "/bookings", class: "nav-link" %></h5>
            </li>
            <li>
              <h5 class="h5-navbar"><%= link_to "GET IN TOUCH", "mailto:vendoadvertisements@gmail.com?subject=Getting in Touch", class: "nav-link" %></h5>
            </li>

            <li>
              <h5 class="h5-navbar"><%= link_to "BECOME PARTNER", "/partners/new", class: "nav-link" %></h5>
            </li>

            <li>
              <h5 class="h5-navbar"><%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: "nav-link"%></h5>
            </li>

          <% end %>

        <% else %>
          <li>
            <h5><%= link_to "Login", new_user_session_path, class: "nav-link"%></h5>
          </li>
        <% end %>
    </ul>
  </div>
</div>
