<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "vendo-logo.png"%>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <div class="drop-down">
      <%= image_tag "drop-down.png"%>
    </div>
  </button>

  <div class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-btns d-flex">
      <% if user_signed_in? %>

        <li class="nav-item">
          <%= link_to "SCREENS", "/listings", class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "GET IN TOUCH", "mailto:vendoadvertisements@gmail.com?subject=Getting in Touch", class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: "nav-link"%>
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
